{% load static %}
<!DOCTYPE html>
<html lang="en">
	<!-- HEAD -->
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>Estaciones de Carga</title>

		<link rel="stylesheet" href="{% static 'css/index.css' %}" />
		<link rel="stylesheet" href="{% static 'css/estilos.css' %}" />
		<link rel="stylesheet" href="{% static 'css/estilos_inicio.css' %}" />
		<link rel="icon" href="{% static 'icons/circle-water-plug-svgrepo-com.svg' %}" type="image/svg+xml">

		<script src="{% static 'js/scripts.js' %}"></script>
	</head>

	<!-- BODY -->
	<body>

		<!-- Encabezado -->
		<section style="background-color: #FFFF;">
			<div>
				<h1 class="centered-title">
					<img src="{% static 'icons/battery-bolt-svgrepo-com.svg' %}" width="55" height="55" style="margin-right: 16px;">
					Estaciones de Carga
				</h1>
			</div>
		</section>

		<!-- Contenido -->
		<div class="demo-page" >

			<!-- Bloque de navegación -->
			<div class="demo-page-navigation" >

				<nav>
					<ul>
						<li>
							<a href="{% url 'inicio' %}">
								<img src="{% static 'icons/house-chimney-blank-svgrepo-com.svg' %}" width="24" height="24" style="margin-right: 15px;">
								Inicio
							</a>
						</li>
					</ul>
				</nav>
				
			</div>

			<!-- Contenedor de Secciones -->
			<main class="demo-page-content" style="width: 100%">


				<!-- Sección "Reportes" -->
				<section id='seccion_reportes'>

					<div>
						<h1 style="color:black;font-size:35px;text-align: center;">
							Reportes
						</h1>
						<p style="font-size:17px;text-align: left;margin: 30px;">
							Analiza los reportes generados por mediciones fuera de límites.
						</p>
					</div>
					
					<form id="select_reportes" method="post" action="">
						<!-- Datos de formulario ocultos, necesarios para la solicitud POST -->
						{% csrf_token %}
						<input form="select_reportes" type="hidden"
							id="id_formulario"
							name="id_formulario"
							value="1"
						>
						<div class="nice-form-group" style="margin: 5%">
							<label for="estacion">Filtrar por estación:</label>
							<select form="select_reportes" id="estacion" name="estacion" onchange="this.form.submit()">
								
								<option value="">Todas</option>
								
								{% for estacion in estaciones %}
									<option value="{{ estacion.id }}" {% if estacion.id|stringformat:"s" == request.POST.estacion %}selected{% endif %}>
											{{ estacion.nombre }}
									</option>
								{% endfor %}
								
							</select>
						</div>
					</form>

					<div class="nice-form-group" >
						<table>
							<tr>
								<th>ID</th>
								<th>Fecha</th>
								<th>Estación</th>
								<th>Valor</th>
								<th>Regla</th>
							</tr>
							{%if pagina_reportes%}
								{%for reporte in pagina_reportes%}
								<tr>
									<td>{{reporte.id}}</td>
									<td>{{reporte.id_medicion.fecha}}</td>
									<td>{{reporte.id_medicion.id_estacion.nombre}}</td>
									<td>{{reporte.id_medicion.valor}}</td>
									<td>{{reporte.id_medicion.id_estacion.id_regla.nombre}}</td>
								</tr>
								{%endfor%}
							{%else%}
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							{%endif%}
							
						</table>
						
						<br>
						
						<span>
							Página {{ pagina_reportes.number }} de {{ pagina_reportes.paginator.num_pages }}.
						</span>
						
					</div>

					{% if resultado %}
						<script>
							alert(" {{ resultado }} ");
						</script>
					{% endif %}

					<details>
						<summary>
							{% if pagina_reportes %}
							
								{% for valor in "12" %}
									{% if pagina_reportes.has_previous %}
									<form id="boton_{% cycle 'primera' 'anterior'%}" method="post" action="">
										{% csrf_token %}
										<input type="hidden" name="id_formulario" value="1">
										<input type="hidden" name="estacion" value="{{ request.POST.estacion }}">
										<input type="hidden" name="pagina" value="{% cycle '1' pagina_reportes.previous_page_number %}">
									</form>
									{% endif %}

									{% if pagina_reportes.has_next %}
									<form id="boton_{% cycle 'ultima' 'siguiente' %}" method="post" action="">
										{% csrf_token %}
										<input type="hidden" name="id_formulario" value="1">
										<input type="hidden" name="estacion" value="{{ request.POST.estacion }}">
										<input type="hidden" name="pagina" value="{% cycle pagina_reportes.paginator.num_pages pagina_reportes.next_page_number %}">
									</form>
									{% endif %}
								{% endfor %}
								<span>
									<div style="display: flex; align-items: center;"> 
										{% for valor in "12" %}
											{% if pagina_reportes.has_previous %}
												<input 
													style="margin-right: 5px; min-width: fit-content;" 
													class="red-button" 
													type="submit" 
													form="boton_{% cycle 'primera' 'anterior'%}" 
													value="{% cycle '&laquo; Primera' 'Anterior'%}" 
												>
											{% endif %}
											{% if pagina_reportes.has_next %}
												<input 
													style="margin-right: 5px; min-width: fit-content;" 
													class="red-button" 
													type="submit" 
													form="boton_{% cycle 'ultima' 'siguiente'%}" 
													value="{% cycle 'Última &raquo;' 'Siguiente'%}" 
												>
											{% endif %}
										{% endfor %}
									</div>
								</span>
							{% endif %}
						</summary>
					</details>
					
				</section>
				
				
			</main>
			
		</div>
		
	</body>

</html>



