.red-button {
	background-color: #ff0000;
	border: 2px solid #cc0000;
	color: #fff;
	font-weight: bold;
	padding: 10px 20px;
	border-radius: 10px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	width: 80%;
}
.red-button:hover {
	background-color: #cc0000;
	border-color: #990000;
}
.centrado {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
    vertical-align: middle;
}

