{% load static %}
<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="icon" href="{% static 'icons/circle-water-plug-svgrepo-com.svg' %}" type="image/svg+xml">
		<link rel="stylesheet" href="{% static 'css/index.css' %}" />
		<link rel="stylesheet" href="{% static 'css/estilos_parametros.css' %}" />

		<script src="{% static 'js/scripts.js' %}"></script>

		<title>Estaciones de Carga</title>
	</head>

	<body>


		<!-- Encabezado -->
		<section style="background-color: #FFFF;">
			<div>
				<h1 class="centered-title">
					<img src="{% static 'icons/battery-bolt-svgrepo-com.svg' %}" width="55" height="55" style="margin-right: 16px;">
					Estaciones de Carga
				</h1>
			</div>
		</section>


		<!-- Contenedor de la página -->
		<div class="demo-page" >


			<!-- Bloque de navegación -->
			<div class="demo-page-navigation" >

				<nav>
					<ul>
						<li>
							<a href="{% url 'inicio' %}" onclick="localStorage.setItem('lastSelectedSection', 'seccion_reglas')">
								<img src="{% static 'icons/house-chimney-blank-svgrepo-com.svg' %}" width="24" height="24" style="margin-right: 15px;">
								Inicio
							</a>
						</li>
					</ul>
				</nav>

				<br>

				<nav style="top: 7em;">
					<ul>
						<li>
							<a href="#" data-section="seccion_reglas">
								<img src="{% static 'icons/square-list-svgrepo-com.svg' %}" width="24" height="24" style="margin-right: 15px;">
								Reglas
							</a>
						</li>
					</ul>
					<ul>
						<li>
							<a href="#" data-section="seccion_agregar">
								<img src="{% static 'icons/square-medical-svgrepo-com.svg' %}" width="24" height="24" style="margin-right: 15px;">
								Nueva regla
							</a>
						</li>
					</ul>
				</nav>
			</div>


			<!-- Tablas de información -->
			<main class="demo-page-content" style="width: 100%">


				<!-- Sección "Reglas" -->
				<section id='seccion_reglas'>

					<div>
						<h1 style="color:black;font-size:35px;text-align: center;">
							Reglas
						</h1>
						<p style="font-size:17px;text-align: left;margin: 30px;">
							Consulta los límites máximos y mínimos de medición por cada regla. Si los valores de medición superan estos límites en la estación asignada, se activarán las alertas.
						</p>
					</div>

					<div class="nice-form-group" style="margin: 30px;">
						<select id="filtro_regla" name="regla" onchange="filtrarRegla()">
							<option value=""{% if not request.GET.regla %}selected{% endif %}>Selecciona una regla</option>
							{% for regla in reglas%}
								<option value="{{regla.id}}" {% if request.GET.regla == regla.id|stringformat:"s" %}selected{% endif %}>{{regla.nombre}}</option>
							{% endfor %}
						</select>
					</div>

					<div>
						<table>
							<tr>
								<th>
									Tipo de medición
								</th>
								<th>
									Valor mínimo
								</th>
								<th>
									Valor óptimo
								</th>
								<th>
									Valor máximo
								</th>
							</tr>
							{% if not request.GET.regla %}
								<tr>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							{% else %}
								{% if valores_regla %}
									{% for valor in valores_regla%}
										<tr>
											<td>{{valor.id_tipo_medicion.descripcion}}</td>
											<td>{{valor.valor_min}}</td>
											<td>{{valor.valor_ide}}</td>
											<td>{{valor.valor_max}}</td>
										</tr>
									{% endfor %}
								{% endif %}
							{% endif %}



						</table>
					</div>

					<details>
						<summary style="display: flex; justify-content: flex-end;">
							
							<a {% if request.GET.regla %}href="#" onclick="showSection('seccion_parametros')"{% endif %} class="red-button" >
								<img src="{% static 'icons/file-plus-alt-svgrepo-com.svg' %}" width="24" height="24">
								<span class="text">Modificar</span>
							</a>
						</summary>
					</details>

				</section>


				<!-- Sección "Modificar reglas" -->
				<section id='seccion_parametros' style="display:none">
					<div>
						<h1 style="color:black;font-size:35px;text-align: center;">
							Modificar reglas
						</h1>
						<p style="font-size:17px;text-align: left;margin: 30px;">
							Modifica los límites máximos y mínimos de cada regla.
						</p>
					</div>

					<div class="nice-form-group">
					
						<h1 style="color:black;font-size:25px;text-align: center;">
							Modificando regla: {% for regla in reglas %} {% if request.GET.regla == regla.id|stringformat:"s" %} {{regla.nombre}} {%endif%} {% endfor %}
						</h1>
						
						<form onsubmit="" id="form-eliminar" method="post">
							{% csrf_token %}
							<!-- Datos por fila ocultos, necesarios para la solicitud POST -->
							<input form="form-eliminar" type="hidden"
								id="id_formulario"
								name="id_formulario"
								value="3"
							>
							<input form="form-eliminar" type="hidden"
								id="id_regla_eliminar"
								name="id_regla_eliminar"
								value="{% if request.GET.regla %}{{ request.GET.regla }}{% endif %}"
							>
						</form>

						<form onsubmit="validarFormulario('form-parametros', event)" id="form-parametros" method="post">
							{% csrf_token %}
							<!-- Datos por fila ocultos, necesarios para la solicitud POST -->
							<input form="form-parametros" type="hidden"
								id="id_formulario"
								name="id_formulario"
								value="1"
							>
							<input form="form-parametros" type="hidden"
								id="id_regla"
								name="id_regla"
								value="{% if request.GET.regla %}{{ request.GET.regla }}{% endif %}"
							>

							{% for parametro in valores_regla %}
								<div class="nice-form-group" style="margin: 15px;">
									<h1>
										{% cycle 'Voltaje 1' 'Voltaje 2' 'Voltaje 3' 'Voltaje 4' 'Voltaje 5' 'Intensidad 1'  'Intensidad 2' 'Temperatura'%}
									</h1>
									<small>
										{% cycle 'Voltaje del panel solar' 'Voltaje del aerogenerador' 'Voltaje del banco de baterías' 'Voltaje de CFE' 'Voltaje de entrada al inversor' 'Corriente del módulo regulador' 'Corriente del módulo inversor' 'Temperatura del banco de baterías'%}
									</small>
								</div>

								<div class="nice-form-group">
									<span style="margin: 30px;">
										<div style="display: inline-block;width: 33%"><strong style="color: blue">Mínimo</strong></div>
										<div style="display: inline-block;width: 33%"><strong style="color: green">Óptimo</strong></div>
										<div style="display: inline-block;width: 33%"><strong style="color: red">Máximo</strong></div>
									</span>
								</div>

								<div class="nice-form-group" style="margin: 0px;">
									<input type="number" id="v_min_{{forloop.counter}}" name="v_min_{{forloop.counter}}" form="form-parametros" step="0.01" placeholder="{{ parametro.valor_min }} {% cycle 'V' 'V' 'V' 'V' 'V' 'A' 'A' '°C'%}" class ="input-parametro" value="{{ parametro.valor_min }}" min="0" max="999.99" required>
									<input type="number" id="v_ide_{{forloop.counter}}" name="v_ide_{{forloop.counter}}" form="form-parametros" step="0.01" placeholder="{{ parametro.valor_ide }} {% cycle 'V' 'V' 'V' 'V' 'V' 'A' 'A' '°C'%}" class ="input-parametro" value="{{ parametro.valor_ide }}" min="0" max="999.99" required>
									<input type="number" id="v_max_{{forloop.counter}}" name="v_max_{{forloop.counter}}" form="form-parametros" step="0.01" placeholder="{{ parametro.valor_max }} {% cycle 'V' 'V' 'V' 'V' 'V' 'A' 'A' '°C'%}" class ="input-parametro" value="{{ parametro.valor_max }}" min="0" max="999.99" required>
								</div>
							{% endfor %}
						</form>
					</div>

					<details>
						<summary style="display: flex; justify-content: flex-end;">
							<a href="#" data-section="seccion_reglas" class="red-button" style="margin-right: 10px">
								<span class="text">Cancelar</span>
							</a>
							{% if request.GET.regla %}
							<input type="submit" value="Eliminar" form="form-eliminar" class="red-button" style="margin-right: 10px;background-color: #D63A13;border: 2px solid #B91311;">
							<input type="submit" value="Guardar cambios" form="form-parametros" class="red-button">
							{% endif %}
						</summary>
					</details>
				</section>
				
				
				<!-- Sección "Nueva Regla" -->
				<section id='seccion_agregar' style="display:none">
					<div>
						<h1 style="color:black;font-size:35px;text-align: center;">
							Nueva regla
						</h1>
						<p style="font-size:17px;text-align: left;margin: 30px;">
							Crea una regla nueva, define los límites para los parámetros de operación.
						</p>
					</div>

					<div class="nice-form-group">

						<form onsubmit="validarFormulario('form-creacion' , event)" id="form-creacion" method="post">
							{% csrf_token %}
							<!-- Datos por fila ocultos, necesarios para la solicitud POST -->
							<input form="form-creacion" type="hidden"
								id="id_formulario"
								name="id_formulario"
								value="2"
							>
							
							<div class="nice-form-group" style="margin-top: 15px;margin-right: 15px;margin-bottom: 30px;margin-left: 15px;">
								<div class="nice-form-group" style="margin-bottom: 15px;">
									<h1>
										Nombre de regla
									</h1>
									<small>
										Asigna un nombre para identificar tu nueva regla.
									</small>
								</div>
								<input form="form-creacion" id="nombre_regla" name="nombre_regla" type="text" placeholder="Nombre de nueva regla" value="" required>
							</div>
							
							{% for i in "12345678" %}
								<div class="nice-form-group" style="margin: 15px;">
									<h1>
										{% cycle 'Voltaje 1' 'Voltaje 2' 'Voltaje 3' 'Voltaje 4' 'Voltaje 5' 'Intensidad 1'  'Intensidad 2' 'Temperatura'%}
									</h1>
									<small>
										{% cycle 'Voltaje de entrada al inversor' 'Voltaje del aerogenerador' 'Voltaje de carga de batería' 'Voltaje de CFE' 'Voltaje de entrada al inversor' 'Corriente del módulo regulador' 'Corriente del módulo inversor' 'Temperatura del banco de baterías'%}
									</small>
								</div>

								<div class="nice-form-group">
									<span style="margin: 30px;">
										<div style="display: inline-block;width: 33%"><strong style="color: blue">Mínimo</strong></div>
										<div style="display: inline-block;width: 33%"><strong style="color: green">Óptimo</strong></div>
										<div style="display: inline-block;width: 33%"><strong style="color: red">Máximo</strong></div>
									</span>
								</div>

								<div class="nice-form-group" style="margin: 0px;">
									<input type="number" id="v_min_{{forloop.counter}}" name="v_min_{{forloop.counter}}" form="form-creacion" step="0.01" placeholder="0.00 {% cycle 'V' 'V' 'V' 'V' 'V' 'A' 'A' '°C'%}" class ="input-parametro" value="1.01" min="0" max="999.99" required>
									<input type="number" id="v_ide_{{forloop.counter}}" name="v_ide_{{forloop.counter}}" form="form-creacion" step="0.01" placeholder="0.00 {% cycle 'V' 'V' 'V' 'V' 'V' 'A' 'A' '°C'%}" class ="input-parametro" value="2.02" min="0" max="999.99" required>
									<input type="number" id="v_max_{{forloop.counter}}" name="v_max_{{forloop.counter}}" form="form-creacion" step="0.01" placeholder="0.00 {% cycle 'V' 'V' 'V' 'V' 'V' 'A' 'A' '°C'%}" class ="input-parametro" value="3.03" min="0" max="999.99" required>
								</div>
							{% endfor %}
						</form>
					</div>

					<details>
						<summary style="display: flex; justify-content: flex-end;">
							
							<input type="submit" value="+ Crear" form="form-creacion" class="red-button">
							
						</summary>
					</details>
				</section>

			</main>
			
			
		</div>


		{% if mensaje %}
			<script>
				alert(" {{ mensaje }} ");
			</script>
		{% endif %}

	</body>
</html>

