{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Estaciones de Carga</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}" />
	<script src="{% static 'js/scripts.js' %}"></script>
	<link rel="icon" href="{% static 'icons/circle-water-plug-svgrepo-com.svg' %}" type="image/svg+xml">
  </head>
  <body>
	<section style="background-color: #f9f9f9;">
		<div>
			<h1 style="font-size:40px; text-align:center;">Estaciones de Carga</h1>
		</div>
	</section>
    <div style="width: 90%; margin: 0 auto;">
		
		<section style="text-align: center;">
			<div>
				<h1 style="font-size:35px;">
					<img src="icons/message-circle-exclamation-svgrepo-com.svg" alt="Icono de parametros" width="48" height="48" style="margin-right: 16px;vertical-align: middle;">
					Parámetros de operación
				</h1>
				<p style="font-size:17px;text-align: center;margin: 30px;">
					Establece los límites máximos y mínimos para cada estación. Si los valores de medición superan estos límites, se activarán las alertas.
				</p>
			</div>
			<div>
				<form onsubmit="validarFormulario(event)">
					<div class="nice-form-group" >
						<label class ="nombre-parametro">Voltaje #1</label>
						<small>Voltaje del panel solar</small>
						
						<div class="nice-form-group">
							<div class = "tituloParametro">
							<div style="flex: 1;"><strong style="color: blue">Mínimo</strong></div>
							<div style="flex: 1;"><strong style="color: green">Óptimo</strong></div>
							<div style="flex: 1;"><strong style="color: red">Máximo</strong></div>
						</div>
						
						<div class="nice-form-group">
							<input type="number" placeholder="Mínimo" class ="input-parametro" value="10"/>
							<input type="number" placeholder="Óptimo" class ="input-parametro" value="11"/>
							<input type="number" placeholder="Máximo" class ="input-parametro" value="12"/>
						</div>
					</div>
				<summary>
					<td style="text-align: center;">
						<button type="submit" class="boton-parametro">
							Guardar cambios
						</button>
					</td>
				</summary>
			
			</details>
				</form>
			</div>
			
			
        </section>

      </main>
    </div>
  </body>
</html>

