{% load static %}
<!DOCTYPE html>
<html lang="en">
	<!-- HEAD -->
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>Estaciones de Carga</title>

		<link rel="stylesheet" href="{% static 'css/index.css' %}" />
		<link rel="stylesheet" href="{% static 'css/estilos.css' %}" />
		<link rel="stylesheet" href="{% static 'css/estilos_inicio.css' %}" />
		<link rel="icon" href="{% static 'icons/circle-water-plug-svgrepo-com.svg' %}" type="image/svg+xml">

		<script src="{% static 'js/scripts.js' %}"></script>
	</head>

	<!-- BODY -->
	<body>

		<!-- Encabezado -->
		<div class="encabezado">
			<div>
				<h1 class="centered-title">
					<img src="{% static 'icons/battery-bolt-svgrepo-com.svg' %}" width="55" height="55" style="margin-right: 16px;">
					Estaciones de Carga
				</h1>
			</div>
		</div>

		<!-- Contenido -->
		<div class="demo-page" >

			<!-- Bloque de navegación -->
			<div class="demo-page-navigation" >

				<nav>
					<ul>
						<li>
							<a href="{% url 'inicio' %}" onclick="localStorage.setItem('lastSelectedSection', 'seccion_estado');">
								<img src="{% static 'icons/house-chimney-blank-svgrepo-com.svg' %}" width="24" height="24" style="margin-right: 15px;">
								Inicio
							</a>
						</li>
					</ul>
				</nav>

				<br>

				<nav style="top: 7em;">
					<ul>
						<li>
							<a href="#" data-section="seccion_estado">
								<img src="{% static 'icons/circle-dashed-svgrepo-com.svg' %}" width="24" height="24" style="margin-right: 15px;">
								Estado
							</a>
						</li>
					</ul>

					<ul>
						<li>
							<a href="#" data-section="seccion_mediciones">
								<img src="{% static 'icons/circle-dots-vertical-svgrepo-com.svg' %}" width="24" height="24" style="margin-right: 15px;">
								Mediciones
							</a>
						</li>
					</ul>

					<ul>
						<li>
							<a href="#" data-section="seccion_nueva_estacion">
								<img src="{% static 'icons/circle-plus-svgrepo-com.svg' %}" width="24" height="24" style="margin-right: 15px;">
								Nueva estación
							</a>
						</li>
					</ul>
				</nav>

			</div>

			<!-- ----------------------- -->
			<!-- Contenedor de Secciones -->
			<!-- ----------------------- -->
			<main class="demo-page-content" style="width: 100%">


				<!-- Sección "Estado" -->
				<section id='seccion_estado'>

					<div>
						<h1 style="color:black;font-size:35px;text-align: center;">
							Estado de estaciones
						</h1>
						<p style="font-size:17px;text-align: justify;margin: 30px;">
							Gestiona tus estaciones de forma sencilla: monitorea su funcionamiento y actívalas o desactívalas con un clic.
						</p>
					</div>

					<div class="nice-form-group" >
						<table>
							<tr>
								<th>ID</th>
								<th>Nombre</th>
								<th>Ubicación</th>
								<th>Estado</th>
								<th>Acción</th>
							</tr>

							{% for estacion in estaciones %}
								<form id="form-estacion-{{forloop.counter}}" method="POST" action="{% url 'estatus' %}">

									{% csrf_token %}

									<!-- Datos por fila ocultos, necesarios para la solicitud POST -->
									<input form="form-estacion-{{forloop.counter}}" type="hidden"
										id="id_formulario"
										name="id_formulario"
										value="1"
									>
									<input form="form-estacion-{{forloop.counter}}" type="hidden"
										id="dir_estacion"
										name="dir_estacion"
										value="{{ estacion.dir_mac }}"
									>
									<input form="form-estacion-{{forloop.counter}}" type="hidden"
										id="nombre_estacion"
										name="nombre_estacion"
										value="{{ estacion.nombre }}"
									>

									<!-- Fila de datos a mostrar por registro -->
									<tr>

										<td>{{ estacion.id }}</td>

										<td>{{ estacion.nombre }}</td>

										<td style="text-align: center;">
											<a {%if estacion.ubicacion%}href="{{ estacion.ubicacion }}"{%endif%}>
												Link
											</a>
										</td>

										<td style="text-align: center;">
											<p
												class="
													{% if estacion.estado == 'Disponible' %}
														boton_disponible
													{% elif estacion.estado == 'No disponible' %}
														boton_no_disponible
													{% elif estacion.estado == 'Fuera de servicio' %}
														boton_fuera_servicio
													{% else %}
														boton_mantenimiento
													{% endif %}
												"
												style="width:100%"
											>
												{{ estacion.estado }}
											</p>
										</td>

										<td style="text-align: center;">
											<input
												form="form-estacion-{{forloop.counter}}"
												type="submit"
												value="Apagar"
												class="boton_no_disponible"
												style="width:100%">
											</input>
										</td>

									</tr>
								</form>

							{% endfor %}

						</table>
					</div>

					<details>
						<summary>
							<a onclick="showSection('seccion_modificar');" class="red-button">
								Modificar
							</a>
						</summary>
					</details>

				</section>


				<!-- Sección "Modificar estaciones" -->
				<section id='seccion_modificar' style="display:none">

					<div>
						<h1 style="color:black;font-size:35px;text-align: center;">
							Modificar Estaciones
						</h1>
						<p style="font-size:17px;text-align: justify;margin: 30px;">
							Modifica los valores de las estaciones.
						</p>
					</div>

					<div class="nice-form-group" >
						<table>
							<tr>
								<th>ID</th>
								<th>Nombre</th>
								<th>Ubicación</th>
								<th>Estado</th>
								<th>Acción</th>
							</tr>

							{% for estacion in estaciones %}
								<form id="form-modifica-estacion-{{forloop.counter}}" method="POST" onsubmit="localStorage.setItem('lastSelectedSection', 'seccion_modifica_estacion');">

									{% csrf_token %}

									<!-- Datos por fila ocultos, necesarios para la solicitud POST -->
									<input form="form-modifica-estacion-{{forloop.counter}}" type="hidden"
										id="id_formulario"
										name="id_formulario"
										value="4"
									>
									<input form="form-modifica-estacion-{{forloop.counter}}" type="hidden"
										id="id_estacion"
										name="id_estacion"
										value="{{ estacion.id }}"
									>

									<!-- Fila de datos a mostrar por registro -->
									<tr>

										<td>{{ estacion.id }}</td>

										<td>{{ estacion.nombre }}</td>

										<td style="text-align: center;">
											<a {%if estacion.ubicacion%}href="{{ estacion.ubicacion }}"{%endif%}>
												Link
											</a>
										</td>

										<td style="text-align: center;">
											<p
												class="
													{% if estacion.estado == 'Disponible' %}
														boton_disponible
													{% elif estacion.estado == 'No disponible' %}
														boton_no_disponible
													{% elif estacion.estado == 'Fuera de servicio' %}
														boton_fuera_servicio
													{% else %}
														boton_mantenimiento
													{% endif %}
												"
												style="width:100%"
											>
												{{ estacion.estado }}
											</p>
										</td>

										<td style="text-align: center;">
											<input
												form="form-modifica-estacion-{{forloop.counter}}"
												type="submit"
												value="Editar"
												class="boton_mantenimiento"
												style="width:100%">
											</input>
										</td>

									</tr>
								</form>

							{% endfor %}

						</table>
					</div>

					<details>
						<summary>
							<a  href="#" data-section="seccion_estado" class="red-button">
								Regresar
							</a>
						</summary>
					</details>

				</section>

				<!-- Sección "Modificar Estacion" -->
				<section id='seccion_modifica_estacion' style="display:none">

					<div>
						<h1 style="color:black;font-size:35px;text-align: center;">
							Modificar Estación
						</h1>
						<p style="font-size:17px;text-align: left;margin: 30px;">
							Modifica los datos de la estación.
						</p>
					</div>


					<form id="form_modifica_estacion" method="post" action="" onsubmit="localStorage.setItem('lastSelectedSection', 'seccion_estado')">
						<!-- Datos de formulario ocultos, necesarios para la solicitud POST -->
						{% csrf_token %}
						<input form="form_modifica_estacion" type="hidden"
								id="id_formulario"
								name="id_formulario"
								value="5"
						>
						<input form="form_modifica_estacion" type="hidden"
								id="id_estacion_modificar"
								name="id_estacion_modificar"
								value="{{request.POST.id_estacion}}"
						>
						<div class="nice-form-group" style="margin: 5%">
							<label for="nuevo_nombre_estacion">Nombre</label>
							<input type="text" id="nuevo_nombre_estacion" name="nuevo_nombre_estacion" form="form_modifica_estacion" placeholder="Agrega un nombre para la estación" value="{% for estacion in estaciones %}{% if estacion.id|stringformat:'s' == request.POST.id_estacion %}{{estacion.nombre}}{% endif %}{% endfor %}" required>
						</div>
						<div class="nice-form-group" style="margin: 5%">
							<label for="nueva_ubicacion">Ubicación</label>
							<input type="url" id="nueva_ubicacion" name="nueva_ubicacion" form="form_modifica_estacion" placeholder="Agrega una ubicación" value="{% for estacion in estaciones %}{% if estacion.id|stringformat:'s' == request.POST.id_estacion %}{{estacion.ubicacion}}{% endif %}{% endfor %}" required>
						</div>
						<div class="nice-form-group" style="margin: 5%">
							<label for="nuevo_estado">Estado</label>
							<select id="nuevo_estado" name="nuevo_estado" form="form_modifica_estacion" required>
								<option value="">Selecciona un estado</option>
								<option value="Disponible">Disponible</option>
								<option value="No disponible">No disponible</option>
								<option value="Fuera de servicio">Fuera de servicio</option>
								<option value="En mantenimiento">En mantenimiento</option>
							</select>
						</div>
						<div class="nice-form-group" style="margin: 5%">
							<label for="nueva_direccion">Nueva dirección física (Opcional)</label>
							<input type="text" id="nueva_direccion" name="nueva_direccion" form="form_modifica_estacion" placeholder="00:00:00:00:00:00" value="" minlength="17" maxlength="17">
						</div>
						<div class="nice-form-group" style="margin: 5%">
							<label for="nueva_regla">Regla</label>
							<select id="nueva_regla" name="nueva_regla" form="form_modifica_estacion" required>
								<option value="">Selecciona una regla</option>
								{%for regla in reglas%}
									<option value="{{regla.id}}">{{regla.nombre}}</option>
								{%endfor%}
							</select>
						</div>
						<div class="nice-form-group" style="margin: 5%">
							<label for="nueva_tarifa">Tarifa</label>
							<select id="nueva_tarifa" name="nueva_tarifa" form="form_modifica_estacion" required>
								<option value="">Selecciona una tarifa</option>
								{%for tarifa in tarifas%}
									<option value="{{tarifa.id}}">{{tarifa.descripcion}}</option>
								{%endfor%}
							</select>
						</div>
					</form>
					
					<form onsubmit="localStorage.setItem('lastSelectedSection', 'seccion_tarifas')" id="form-eliminar" method="post">
						{% csrf_token %}
						<!-- Datos por fila ocultos, necesarios para la solicitud POST -->
						<input form="form-eliminar" type="hidden"
							id="id_formulario"
							name="id_formulario"
							value="6"
						>
						<input form="form-eliminar" type="hidden"
							id="id_estacion_eliminar"
							name="id_estacion_eliminar"
							value="{{request.POST.id_estacion}}"
						>
					</form>

					<details>
						<summary style="display: flex; justify-content: flex-end;">
							<button type="submit" form="form-eliminar" style="min-width: fit-content;margin-right: 10px;background-color: #D63A13;border: 2px solid #B91311;" class="red-button">
								Eliminar
							</button>
							<button type="submit" form="form_modifica_estacion" style="min-width: fit-content" class="red-button">
								Guardar cambios
							</button>
						</summary>
					</details>

				</section>


				<!-- Sección "Mediciones" -->
				<section id="seccion_mediciones" style="display:none">

					<div>
						<h1 style="color:black;font-size:35px;text-align: center;">
							Mediciones
						</h1>
						<p style="font-size:17px;text-align: left;margin: 30px;">
							Gestiona tus estaciones de forma sencilla: Revisa los registros de mediciones más recientes en todas las estaciones.
						</p>
					</div>

					<div class="nice-form-group" >

						<form id="select_estaciones" method="post" action="">
							<!-- Datos de formulario ocultos, necesarios para la solicitud POST -->
							{% csrf_token %}
							<input form="select_estaciones" type="hidden"
								id="id_formulario"
								name="id_formulario"
								value="2"
							>
							<div class="nice-form-group" style="margin: 5%">
								<label for="estacion">Filtrar por estación:</label>
								<select form="select_estaciones" id="estacion" name="estacion" onchange="this.form.submit()">
									<option value="">Todas</option>
									{% for estacion in estaciones %}
									<option value="{{ estacion.id }}" {% if estacion.id|stringformat:"s" == request.POST.estacion %}selected{% endif %}>
										{{ estacion.nombre }}
									</option>
									{% endfor %}
								</select>
							</div>
						</form>

						<table>
							<tr>
								<th colspan="5" id="encabezado_mediciones"> {% if not request.GET.estacion_medicion %}Selecciona una estación{% else %} {% for estacion in estaciones %} {% if request.GET.estacion_medicion == estacion.id|stringformat:"s" %} {{estacion.nombre}} {%endif%} {% endfor %}{% endif %} </th>
							</tr>
							<tr>
								<th>ID</th>
								<th>Fecha</th>
								<th>Valor</th>
								<th>Unidad</th>
								<th>Tipo</th>
							</tr>
						{% if not page_obj%}
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>

						{% else %}
							{% for medicion in page_obj %}
								<tr>
								<td>{{ medicion.id }}</td>
								<td>{{ medicion.fecha }}</td>
								<td>{{ medicion.valor }}</td>
								<td>{% if medicion.id_tipo_medicion.tipo_medicion == 'I' %} A {% elif medicion.id_tipo_medicion.tipo_medicion == 'T'%} °C {% else %} {{medicion.id_tipo_medicion.tipo_medicion}}{% endif %}</td>
								<td>{{ medicion.id_tipo_medicion.descripcion }}</td>
								</tr>
							{% endfor %}
						{% endif %}
						</table>

						<br>

						<span class="current" >
							<strong>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.</strong>
						</span>

					</div>

					<details>
						<summary style="text-align: right;">

							{% if page_obj %}

								{% for valor in "12" %}
										{% if page_obj.has_previous %}
										<form id="boton_{% cycle 'primera' 'anterior'%}" method="post" action="">
											{% csrf_token %}
											<input type="hidden" name="id_formulario" value="2">
											<input type="hidden" name="estacion" value="{{ request.POST.estacion }}">
											<input type="hidden" name="pagina" value="{% cycle '1' page_obj.previous_page_number %}">
										</form>
										{% endif %}

										{% if page_obj.has_next %}
										<form id="boton_{% cycle 'ultima' 'siguiente' %}" method="post" action="">
											{% csrf_token %}
											<input type="hidden" name="id_formulario" value="2">
											<input type="hidden" name="estacion" value="{{ request.POST.estacion }}">
											<input type="hidden" name="pagina" value="{% cycle page_obj.paginator.num_pages page_obj.next_page_number %}">
										</form>
										{% endif %}
								{% endfor %}

								<span>
									<div style="display: flex; align-items: center;">
										{% for valor in "12" %}
											{% if page_obj.has_previous %}
												<input
													style="margin-right: 5px; min-width: fit-content;"
													class="red-button"
													type="submit"
													form="boton_{% cycle 'primera' 'anterior'%}"
													value="{% cycle '&laquo; Primera' 'Anterior'%}"
												>
											{% endif %}
											{% if page_obj.has_next %}
												<input
													style="margin-right: 5px; min-width: fit-content;"
													class="red-button"
													type="submit"
													form="boton_{% cycle 'ultima' 'siguiente'%}"
													value="{% cycle 'Última &raquo;' 'Siguiente'%}"
												>
											{% endif %}
										{% endfor %}
									</div>
								</span>
							{% else %}
								<br>
							{% endif %}

						</summary>
					</details>

				</section>


				<!-- Sección "Nueva Estacion" -->
				<section id='seccion_nueva_estacion' style="display:none">
					<div>
						<h1 style="color:black;font-size:35px;text-align: center;">
							Nueva estación
						</h1>
						<p style="font-size:17px;text-align: left;margin: 30px;">
							Crea una estación nueva.
						</p>
					</div>

					<div class="nice-form-group">

						<form  id="form-creacion" method="post">
							{% csrf_token %}
							<!-- Datos por fila ocultos, necesarios para la solicitud POST -->
							<input form="form-creacion" type="hidden"
								id="id_formulario"
								name="id_formulario"
								value="3"
							>

							<div class="nice-form-group" style="margin-top: 15px;margin-right: 15px;margin-bottom: 30px;margin-left: 15px;">
								<div class="nice-form-group" style="margin-bottom: 15px;">
									<h1>
										Nombre de estación
									</h1>
									<small>
										Asigna un nombre para identificar tu nueva estación.
									</small>
								</div>
								<input form="form-creacion" id="nombre_nueva_estacion" name="nombre_nueva_estacion" type="text" placeholder="Nombre de nueva estación" value="" required>
							</div>

							<div class="nice-form-group" style="margin-top: 15px;margin-right: 15px;margin-bottom: 30px;margin-left: 15px;">
								<div class="nice-form-group" style="margin-bottom: 15px;">
									<h1>
										Dirección física
									</h1>
									<small>
										Ingresa la dirección física de la Raspberry PI 4 correspondiente a la estación.
									</small>
								</div>
								<input form="form-creacion" id="dir_nueva_estacion" name="dir_nueva_estacion" type="text" placeholder="00:00:00:00:00:00" value="" required minlength="17" maxlength="17">
							</div>

						</form>
					</div>

					<details>
						<summary style="display: flex; justify-content: flex-end;">

							<input type="submit" value="+ Crear" form="form-creacion" class="red-button">

						</summary>
					</details>
				</section>

				{% if resultado %}
					<script>
						alert(" {{ resultado }} ");
					</script>
				{% endif %}

			</main>

		</div>

	</body>

</html>
